<!-- The Modal -->
<div class="modal fade" id="Modal-new-Proyecto" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proyecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body --> 
        <%= form_for(@proyecto, html: { :multipart => true }, remote: true) do |form| %>
          <div class="modal-body">
            <div id="error_messages"></div>
          <% if @proyecto.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

              <ul>
              <% proyecto.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field" hidden="true">
            <%= form.label :id %>
            <%= form.number_field :id %>
          </div>

          <div class="field">
            <%= form.label :nombre %>
            <%= form.text_field :nombre, {:class => "form-control", :placeholder => "Ingrese nombre"}  %>
          </div>

          <div class="field">
            <%= form.label :ubicacion, "Ubicación" %>
            <%= form.text_field :ubicacion,  {:class => "form-control", :placeholder => "Ingrese ubicación"}  %>
          </div>

          <div class="field">
            <%= form.label :preciobase, "Precio Base" %>
            <%= form.number_field :preciobase,  {:class => "form-control", :placeholder => "Ingrese Precio"}  %>
          </div>

          <%= form.fields_for :fotos do |p| %>
           <div class="field">
             <%= p.label :imagen %><br>             
             <%= p.file_field :imagen,  :multiple => true, name: "fotos[imagen][]" %>
           </div>
          <% end %>


       </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
       <%= form.submit "Guardar",  :class => "btn btn-primary", :onclick => "return ValidarProyecto()" %>
       <!-- <%= form.submit "Guardar",  :class => "btn btn-primary", :onclick => "return ValidarProyecto()", data: {confirm: '¿Esta Seguro de Guardar?'} %> --> 

      </div>
 	
      <% end %>
    </div>
  </div>
</div>