
<!-- The Modal -->
<div class="modal fade" id="Modal-show-Proyecto" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proyecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body --> 
       <div class="form-control">
      		
      		<p>
      		  <strong>Id:</strong>
      		  <%= @proyecto.id %>
      		</p>

      		<p>
      		  <strong>Nombre:</strong>
      		  <%= @proyecto.nombre %>
      		</p>

      		<p>
      		  <strong>Ubicacion:</strong>
      		  <%= @proyecto.ubicacion %>
      		</p>

      		<p>
      		  <strong>Precio Base:</strong>
      		  <%= @proyecto.preciobase %>
      		</p>

          <p>
            <strong>Imagen:</strong>
            <br/>
            <br/>
            <% @fotos.each do |p| %>
              <%= image_tag p.imagen_url, :width => 50 %>
              <%= link_to "Editar", edit_foto_path(p) %>
            <% end %>

          </p>

       </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
 	    
    </div>
  </div>
</div>