

<h1>B&uacute;squeda de Proyectos</h1>

<%= form_tag proyectos_path, :method => 'get' do  %>

  <div class="col-12">

    <div class="row">        
      <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
        <div class="autocomplete"> 
          <%= text_field_tag  :nombre, params[:nombre], { :class => "form-control", :placeholder => "Proyecto"} %> 
        </div>
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <div class="row">   

<div class="col-lg-3 col-md-3 col-sm-12 p-0 ">    
    <%= link_to  new_proyecto_path,  :remote=> true  do %>
          <button  title="Nuevo" class="btn btn-primary">
            <i class="fa fa-plus-circle"> </i> Nuevo
          </button>              
        <% end %>     
                   
        <%= submit_tag "Buscar", :class => "btn btn-info" %>        
      </div>
    </div>

    

    <div class="row">
      <br>
    </div>

  
  </div>
<% end %>

<div class="table-responsive">
  <table  class="table" >
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombre</th>
        <th>Ubicaci&oacute;n</th>
        <th>Precio base</th>                
        <th colspan="3">Acci&oacute;n</th>
      </tr>
    </thead>

    <tbody>
      <% @proyectos.each do |proyecto| %>
        <tr>
          <td><%= proyecto.id %></td>
          <td><%= proyecto.nombre %></td>
          <td><%= proyecto.ubicacion %></td>
          <td><%= proyecto.preciobase %></td>          
                    
           <td>
            <%= link_to proyecto,  :remote=>true  do %>
             <button type="button" class="btn btn-info" title="Ver">
                <i class="fas fa-search"></i>
              </button>            
            <% end %>
          </td>

          <td>
            <%= link_to edit_proyecto_path(proyecto),  :remote=>true  do %>
              <button type="button" class="btn btn-warning" title="Editar">
                <i class="fa fa-pencil-alt"></i> 
              </button>
            <% end %>
          </td>

          <td>
            <%= link_to proyecto, method: :delete, data: { confirm: '¿Estas seguro de eliminar?' }, :remote=>true  do %>
             <button type="button" class="btn btn-danger" title="Eliminar">
                <i class="fa fa-trash-alt"></i>
              </button>            
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
     <%= will_paginate @proyectos, :class => 'pagination justify-content-center' %>
  </nav>

</div>
<br>


<!-- INI The Modal -->
<div id="new-Proyecto"> </div>
<div id="edit-Proyecto"> </div>
<div id="show-Proyecto"> </div>
<div id="error-Proyecto"> </div>

<!-- FIN The Modal -->



