
<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="search-sec">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Buscar por ubicación o proyecto">
                        </div>
                        <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">

                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>-->
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            
        </form>
    
</section>

<div class="row">
	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="http://imanquehue.com/img/piedra-roja/edhacienda/hacienda19.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Condominio San Luis de Macul</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://www.comovenderalquilar.com/static/img/blog/Departamentos-con-espectaculares-vistas.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Condominio El Olivar</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>


	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://www.mercadosyregiones.com/wp-content/uploads/2019/04/departamento.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Los Olivos</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/08/16/59948da7b75cb.jpeg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Santa Anita</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>	
</div>

<div class="row">
	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="http://ateenlinea.muniate.gob.pe/ate/img/fotoNoticia/foto7369.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en San Juan de Miraflores</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://e.an.amtv.pe/actualidad-lima-jovenes-solteros-optan-cada-vez-mas-departamentos-42-m2-n200123-624x352-211391.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Miraflores</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>


	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://www.avellaneda.cl/web/wp-content/uploads/2017/12/Cocina_920x710-1.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Venta de Terreno Para Casa de Playa</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://www.mercadosyregiones.com/wp-content/uploads/2019/04/departamento.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Chorrillos</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="#" class="btn btn-primary"  data-toggle="modal" 
            data-target="#modalRegistroSolicitudCotizacion" style="color: white;">Cotizar</a>
	  </div>
	</div>
</div>


<!-- The Modal -->
<div class="modal" id="modalRegistroSolicitudCotizacion">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Registro de Cotización</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(model: Proyecto, local: true) do |form| %>
          <div class="form-group">
            <label for="txtDni">DNI:</label>
             <%= form.text_field :dni, { :class => "form-control", :id => "txtDni"} %>
          </div>
          <div class="form-group">
            <label for="txtNombre">Nombres:</label>
             <%= form.text_field :nombre, { :class => "form-control", :id => "txtNombre"} %>
          </div>
          <div class="form-group">
            <label for="txtApellido">Apellidos:</label>
             <%= form.text_field :apellido, { :class => "form-control", :id => "txtApellido"} %>
          </div>
          <div class="form-group">
            <label for="txtApellido">Correo:</label>
             <%= form.text_field :apellido, { :class => "form-control", :id => "txtApellido"} %>
          </div>
          <div class="form-group">
            <label for="txtApellido">Teléfono:</label>
             <%= form.text_field :apellido, { :class => "form-control", :id => "txtApellido"} %>
          </div>     
          <% end %>    
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Guardar</button>
      </div>

    </div>
  </div>
</div>
