

<!-- The Modal -->
<div class="modal fade" id="Modal-edit-Departamento" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Departamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->      
      <%= form_for @departamento, :remote=>true  do |form| %>
        <div class="modal-body">

          <% if @departamento.errors.any? %>
            <div id="card border-0">
             <!-- <div id="error_explanation">-->  
              <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

              <ul>
              <% departamento.errors.full_messages.each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>


          <div class="field">
             <%= form.label :proyecto_id, "Proyecto" %>
             <%= form.select :proyecto_id, Proyecto.all.where("id !=0").collect {|e| [e.nombre, e.id] }, { :include_blank => "Seleccione" }, { :class => "form-control" } %>  
          </div>

          <div class="field">
            <%= form.label :nombre %>
            <%= form.text_field :nombre, {:class => "form-control", :placeholder => "Ingrese nombre"} %>
          </div>

          <div class="field">
            <%= form.label :area %>
            <%= form.number_field :area, {:class => "form-control", :placeholder => "Ingrese área"}  %>
          </div>

          <div class="field">
            <%= form.label :piso %> 
            <%= form.number_field :piso, {:class => "form-control", :placeholder => "Ingrese piso"}  %>
          </div>

          <div class="field">
             <%= form.label :tipo, "Tipo" %>
             <%= form.select :tipo, [["Residencial", 1], ["Ubanización", 2]], { :include_blank => "Seleccione" }, { :class => "form-control" } %>
          </div>

          <div class="field">
            <%= form.label :estado %>                       
             <%= form.select :estado, [["Disponible", 1], ["Separado", 2], ["Vendido", 3]], { :include_blank => "Seleccione" }, { :class => "form-control"} %>
          </div>
          
          <%= form.fields_for :fotos do |p| %>
           <div class="field">
             <%= p.label :imagen %><br>             
             <%= p.file_field :imagen,  :multiple => true, name: "fotos[imagen][]" %>
           </div>
          <% end %>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <%= form.submit "Guardar",  :class => "btn btn-primary", :onclick => "return ValidarDepartamento()" %>
      </div>


      <% end %>
    </div>
  </div>
</div>