<%= form_with(model: departamento, local: true) do |form| %>
  <% if departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
      <% departamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :departamento_id %>
  </div>

  <div class="field">
    <%= form.label :proyectoId, "Seleccione Proyecto" %>
    <%= form.select :proyectoId, [["Condominio Chorrillos", 1], ["Condominio Surco", 2]], { :include_blank => "Seleccione" }, { :class => "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :departamento_nombre,{:class => "form-control", :placeholder => "Ingrese nombre"} %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.number_field :area, id: :departamento_area %>
  </div>

  <div class="field">
    <%= form.label :piso %>
    <%= form.number_field :piso, id: :departamento_piso %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :departamento_estado %>
  </div>

  <div class="field">
    <%= form.label :tipo, "Seleccione Proyecto" %>
    <%= form.select :tipo, [["Residencial", 1], ["Ubanización", 2]], { :include_blank => "Seleccione" }, { :class => "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
