
<!-- The Modal -->
<div class="modal fade" id="Modal-show-Departamento" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Departamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->      
       <div class="form-control">

        <p>
        <strong>Proyecto:</strong>
          <%= Proyecto.select(:nombre).where("id = " + @departamento.proyecto_id.to_s).collect(&:nombre)[0] %>  
        </p>
       
        <p>
        <strong>Nombre:</strong>
          <%= @departamento.nombre %>
        </p>

        <p>
        <strong>Area:</strong>
          <%= @departamento.area %>
        </p>

        <p>
        <strong>Piso:</strong>
          <%= @departamento.piso %>
        </p>

        <p>
        <strong>Estado:</strong>
          <%= Estado.select(:nombre).where("id = " + @departamento.estado.to_s).collect(&:nombre)[0] %>  
        </p>

        <p>
        <strong>Tipo:</strong>
          <%= Tipo.select(:nombre).where("id = " + @departamento.tipo.to_s).collect(&:nombre)[0] %>  
        </p>     

        <p>
            <strong>Imagen:</strong>
            <br/>
            <br/>
            <% @fotos.each do |p| %>
              <%= image_tag p.imagen_url, :width => 50 %>
              <%= link_to "Editar", edit_foto_path(p) %>
            <% end %>

          </p>     

      </div>

       <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>


      
    </div>
  </div>
</div>