

<h1>B&uacute;squeda de Departamentos</h1>

 
<%= form_tag departamentos_path, :method => 'get' do  %>

  <div class="col-12">
    
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">   
          <%= select_tag "proyecto_id", options_from_collection_for_select(@proyectos, "id", "nombre"), { :class => "form-control"} %>
        </div>  

        <div class="col-lg-3 col-md-3 col-sm-12 p-0">   
          <div class="autocomplete">        
            <%= text_field_tag :nombre, params[:nombre], { :class => "form-control", :placeholder => "Departamento"} %> 
          </div>  
        </div>    

        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
          <%= select_tag "estado", options_for_select({"Estado" => "", "Disponible" => "1", "Separado" => "2" , "Vendido" => "3" }), { :class => "form-control"} %>
        </div>  

    </div>
    <br>

    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 p-0">  
          <%= link_to  new_departamento_path,  :remote=>true  do %>
            <button  title="Nuevo" class="btn btn-primary">
              <i class="fa fa-plus-circle"> </i> Nuevo
            </button>              
          <% end %>

          <%= submit_tag  "Buscar", :class => "btn btn-info" %>            
      </div> 
    </div>
    <br>



  </div>
<% end %>

<div class="table-responsive">
  <table  class="table" >
    <thead>
      <tr>
       
        <th>Proyecto</th>
        <th>Departamento</th>
        <th>Area</th>  
        <th>Piso</th>   
        <th>Tipo</th>
             
        <th>Estado</th>      
        <th colspan="3">Acci&oacute;n</th>
      </tr>
    </thead>

    <tbody>
      <% @departamentos.each do |departamento| %>
        <tr>
         
          <td>
             <%= Proyecto.select(:nombre).where("id = " + departamento.proyecto_id.to_s).collect(&:nombre)[0]  %>
          </td>
          
          <td><%= departamento.nombre %></td>
          <td><%= departamento.area %></td>
          <td><%= departamento.piso %></td>
          <td>
            <%= Tipo.select(:nombre).where("id = " + departamento.tipo.to_s).collect(&:nombre)[0]  %>
          </td>

          <td>
            <%= Estado.select(:nombre).where("id = " + departamento.estado.to_s).collect(&:nombre)[0]  %>
          </td>
          
          
          <td>
            <%= link_to  departamento,  :remote=>true  do %>
             <button  type="button" class="btn btn-info" 
              title="Ver">
               <i class="fas fa-search"></i>
              </button>            
            <% end %>
          </td>

          <td>
            <%= link_to edit_departamento_path(departamento),  :remote=>true  do %>
              <button type="button" class="btn btn-warning" title="Editar">
                <i class="fa fa-pencil-alt"></i> 
              </button>
            <% end %>
          </td>

          <td>
            <%= link_to departamento,  method: :delete, data: { confirm: '¿Estas seguro de eliminar?' }, :remote=>true  do %>
             <button  type="button" class="btn btn-danger" title="Eliminar">
                <i class="fa fa-trash-alt"></i>
              </button>            
            <% end %>
          </td>

        </tr>
        <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
     <%= will_paginate @departamentos, :class => 'pagination justify-content-center' %>
  </nav>


</div>
<br>

<!-- INI The Modal -->
<div id="new-Departamento"> </div>
<div id="edit-Departamento"> </div>
<div id="show-Departamento"> </div>
<!-- FIN The Modal -->

 