<%= form_with(model: cotizacion, local: true) do |form| %>
  <% if cotizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotizacion.errors.count, "error") %> prohibited this cotizacion from being saved:</h2>

      <ul>
      <% cotizacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :cotizacion_id %>
  </div>

  <div class="field">
    <%= form.label :clientId %>
    <%= form.number_field :clientId, id: :cotizacion_clientId %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :cotizacion_estado %>
  </div>

  <div class="field">
    <%= form.label :departamentoId %>
    <%= form.number_field :departamentoId, id: :cotizacion_departamentoId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
