

<h1>B&uacute;squeda de Cotizaciones Asignadas</h1>

<%= form_with(model: Cotizacion, local: true) do |form| %>
  <div class="col-12">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
          <div class="autocomplete">           
            <%= form.text_field :proyecto, { :class => "form-control", :id => "txtProyecto", :placeholder => "Proyecto" } %>
          </div>
        </div>  
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">         
            <%= form.text_field :departamento, { :class => "form-control", :id => "txtDepartamento", :placeholder => "Departamento" } %>
        </div>    
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
          <div class="autocomplete">
            <%= form.text_field :cliente, { :class => "form-control", :id => "txtCliente", :placeholder => "Cliente"} %>
          </div>  
        </div>  
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">  
           <!--<button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>-->
           <%= form.submit "Buscar", :class => "btn btn-primary", :onclick => "return MiMetodo()" %>
        </div> 
    </div>
    <div class="row">
      <br>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table  class="table" >
    <thead>
      <tr>
        <th>Item</th>
        <th>Proyecto</th>
        <th>Departamento</th>
        <th>Cliente</th>
        <th>D.N.I.</th>
        <th>Correo</th>
        <th>Tel&eacute;fono</th>
        <th>Estado</th>      
        <th colspan="3">Acci&oacute;n</th>
      </tr>
    </thead>

    <tbody>
      <% @cotizacions.each do |cotizacion| %>
        <tr>
          <td><%= cotizacion.id %></td>
          <td><%= 'PROYECTO 1' %></td>
          <td><%= 'DEPARTAMENTO 1' %></td>
          <td><%= 'JAVIER QUISPE GARCIA' %></td>
          <td><%= '78912345' %></td>  
          <td><%= 'jquispeg@gmail.com' %></td>  
          <td><%= '987 123 456' %></td>  
          <td><%= 'PENDIENTE' %></td>  
          <!-- <td><%= cotizacion.clientId %></td>
          <td><%= cotizacion.estado %></td>
          <td><%= cotizacion.departamentoId %></td>
          <td><%= link_to 'Show', cotizacion %></td>
          <td><%= link_to 'Edit', edit_cotizacion_path(cotizacion) %></td>
          <td><%= link_to 'Destroy', cotizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          <td>
            <button 
            type="button" 
            class="btn btn-danger" 
            data-toggle="modal" 
            data-target="#modalAnularCotizacion"
            title="Anular"><i class="fa fa-minus-circle"></i> Anular</button>
          </td>
          <td>
            <button 
            type="button" 
            class="btn btn-primary" 
            data-toggle="modal" 
            data-target="#modalRegistroCita"
            title="Citar"><i class="fa fa-calendar-alt"></i> Citar</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>

</div>
<br>

<!--<%= link_to 'New Cotizacion', new_cotizacion_path %>-->


<!-- The Modal -->
<div class="modal" id="modalRegistroCita">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Registro de Citas</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(model: Cotizacion, local: true) do |form| %>
          <div class="form-group">
            <label for="email">Cliente:</label>
             <%= form.text_field :cliente, { :class => "form-control", :id => "txtCliente", :value => "JAVIER QUISPE GARCIA", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="pwd">Fecha:</label>
            <input type="date" name="bday" max="3000-12-31" 
        min="1000-01-01" class="form-control">
          </div>

          <div class="form-group">
            <label for="pwd">Hora:</label>
            <input type="time" name="usr_time" id="pwd" class="form-control">
          </div>
          
          <div class="form-group">
            
          </div>
        <% end %>
      
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Guardar</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="modalAnularCotizacion">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmaci&oacute;n</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Est&aacute; seguro de anular cotizaci&oacute;n?            
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>      
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Si</button>            
      </div>

    </div>
  </div>
</div>
