<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @cotizacion.id %>
</p>

<p>
  <strong>Clientid:</strong>
  <%= @cotizacion.clientId %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cotizacion.estado %>
</p>

<p>
  <strong>Departamentoid:</strong>
  <%= @cotizacion.departamentoId %>
</p>

<%= link_to 'Edit', edit_cotizacion_path(@cotizacion) %> |
<%= link_to 'Back', cotizacions_path %>
