
<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://fachadas-casas.com/wp-content/uploads/2010/06/fachadas-edificios-5.jpg" alt="300" height="400">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://fachadas-casas.com/wp-content/uploads/2010/06/fachadas-edificios-7.jpg" alt="300" height="400">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="search-sec">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Buscar por ubicación o proyecto">
                        </div>
                        <!--<div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">

                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>-->
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            
        </form>
    
</section>

<div class="row">
	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://urbania.pe/blog/wp-content/uploads/2015/07/Proyecto-Paseo-San-Mart%C3%ADn-conjunto-Urbania.pe_.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Condominio San Luis de Macul</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://img.elcomercio.pe/files/article_content_ec_fotos/uploads/2017/03/22/58d23576f2c47.jpeg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Condominio El Olivar</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>


	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://img10.naventcdn.com/avisos/11/00/51/39/94/25/1200x1200/44128349.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Los Olivos</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="http://construir.com.pe/wp-content/uploads/2018/01/INMOBILIARIA-600x330.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Santa Anita</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>	
</div>

<div class="row">
	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="http://ateenlinea.muniate.gob.pe/ate/img/fotoNoticia/foto7369.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en San Juan de Miraflores</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://urbania.pe/blog/wp-content/uploads/2015/09/Proyecto-Condominio-El-Olivar-Urbania.pe_.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Miraflores</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>


	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="https://img10.naventcdn.com/avisos/11/00/54/19/34/14/1200x1200/94418941.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Venta de Terreno Para Casa de Playa</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>

	<div class="card col-3" style="width:400px">
	  <img class="card-img-top" src="http://www.zonainmobiliaria.com/zonainmobiliaria/site/artic/20180803/imag/foto_0000006020180803182109.jpg" alt="Card image">
	  <div class="card-body">
	    <h4 class="card-title">Departamentos en Chorrillos</h4>
	    <p class="card-text">Valle Mar Los paisajes que soñaste en un solo lugar A la altura del km 200.50 de la nueva autopista Chincha- Pisco- Ica, cerca de la cuida...Chincha Baja.</p>
	    <a href="home/proyecto" class="btn btn-primary" style="color: white;">Ver</a>
	  </div>
	</div>
</div>
