<section class="search-sec">
   <form action="#" method="post" novalidate="novalidate">
      <div class="row">
      <div class="col-lg-12">
         <div class="row">
            <div class="col-lg-9 col-md-3 col-sm-12 p-0">
               <input type="text" class="form-control search-slt" placeholder="Buscar por ubicación o proyecto">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
               <button type="button" class="btn btn-danger wrn-btn">Search</button>
            </div>
         </div>
      </div>
   </form>
</section>
<div class="row">
<div class="card col-5" style="width:600px">
   <img class="card-img-top" src="https://colorlib.com/preview/theme/south/img/bg-img/hero4.jpg" alt="Card image">
   <div class="card-body">
      <h4 class="card-title">Distrito 27</h4>
      <p class="card-text">Departamentos de 90, 120 y 150m2. Piscina temperada, salón de reuniones y gimnasio. Un departamento con todos los detalles que siempre buscaste. Areas comunes equipadas con todo lo necesario para que puedas disfrutar lo que mas te gusta sin salir de casa. Descubre el ambiente ideal para que sea el espacio perfecto que siempre soñaste.</p>
   </div>
</div>
<div class="card col-4" style="width:200px">
   <div class="Project-areas">
      <h4>Áreas Comunes</h4>
      <ul class="Project-areas-list list-unstyled">
         <li>Ascensor directo</li>
         <li>Gimnasio</li>
         <li>Lobby</li>
         <li>Piscina</li>
         <li>Sala de usos Múltiples</li>
         <li>Sauna</li>
         <li>----------------------------</li>
         <li>Estapa del Proyecto:</li>
         <li>En Planos</li>
         <li>----------------------------</li>
         <li>Fecha de Entrega:</li>
         <li>31 de Diciembre, 2020</li>
         <li>Financiamiento</li>
         <li>Banco Continental</li>
      </ul>
      <a href="cotizacions/index" class="btn btn-primary" style="color: white;">Cotizar</a>
   </div>
</div>