<%= form_with(model: proforma, local: true) do |form| %>
  <% if proforma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proforma.errors.count, "error") %> prohibited this proforma from being saved:</h2>

      <ul>
      <% proforma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :proforma_id %>
  </div>

  <div class="field">
    <%= form.label :cotizaccionId %>
    <%= form.number_field :cotizaccionId, id: :proforma_cotizaccionId %>
  </div>

  <div class="field">
    <%= form.label :fechaRegistro %>
    <%= form.datetime_select :fechaRegistro, id: :proforma_fechaRegistro %>
  </div>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :costo, id: :proforma_costo %>
  </div>

  <div class="field">
    <%= form.label :descuento %>
    <%= form.text_field :descuento, id: :proforma_descuento %>
  </div>

  <div class="field">
    <%= form.label :precioFinal %>
    <%= form.text_field :precioFinal, id: :proforma_precioFinal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
