

<h1>B&uacute;squeda de Proformas</h1>

<%= form_with(model: Proforma, local: true) do |form| %>
  <div class="col-12">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
          <label for="txtProyecto">Proyecto</label>
          <div class="autocomplete">           
            <%= form.text_field :proyecto, { :class => "form-control", :id => "txtProyecto", :placeholder => "Proyecto" } %>
          </div>
        </div>  
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <label for="calFechaDesde">Desde</label>
            <%= form.date_field :fechaDesde, { :class => "form-control", :id => "calFechaDesde"} %>          
          </div> 
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <label for="calFechaHasta">Hasta</label>
            <%= form.date_field :fechaHasta, { :class => "form-control", :id => "calFechaHasta"} %>          
        </div>  
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <%= form.submit "Buscar", :class => "btn btn-primary", :onclick => "return MiMetodo()" %>
      </div>  
    </div>
    <div class="row">
      <br>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table  class="table" >
    <thead>
      <tr>
        <th>Item</th>
        <th>Proyecto</th>
        <th>Departamento</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Precio final</th>
        <th colspan="3">Acci&oacute;n</th>
      </tr>
    </thead>

    <tbody>
      <% @proformas.each do |proforma| %>
        <tr>
          <td><%= proforma.id %></td>
          <td><%= 'EL FUNDO RESIDENCIAL' %></td>
          <td><%= 'DEPARTAMENTO 1' %></td>
          <td><%= 'JAVIER QUISPE GARCIA' %></td>
          <td><%= proforma.fechaRegistro %></td>
          <td><%= '45000' %></td>
          <td>
            <button 
              type="button" 
              class="btn btn-warning" 
              data-toggle="modal" 
              data-target="#modalSepararDepartamento"><i class="fa fa-dollar-sign"></i> 
            </button>
          </td>
          <td>
              <button 
              type="button" 
              class="btn btn-primary" 
              data-toggle="modal" 
              data-target="#modalRegistrarVenta">
              <i class="fa fa-file-invoice"></i> 
              </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>

</div>
<br>

<!--<%= link_to 'New Cotizacion', new_cotizacion_path %>-->


      <!-- The Modal Proforma-->
<div class="modal" id="modalSepararDepartamento">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Separar Departamento</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <%= form_with(model: Citum, local: true) do |form| %>
          <div class="form-group">
            <label for="txtNroProforma">N&deg; Proforma:</label>
             <%= form.text_field :nroProforma, { :class => "form-control", :id => "txtNroProforma", :value => "0001", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="email">Cliente:</label>
             <%= form.text_field :cliente, { :class => "form-control", :id => "txtCliente", :value => "JAVIER QUISPE GARCIA", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtProyecto">Proyecto:</label>
             <%= form.text_field :proyecto, { :class => "form-control", :id => "txtProyecto", :value => "EL FUNDO RESIDENCIAL", :readonly => "true"} %>
          </div>


          <div class="form-group">
            <label for="txtDepartamento">Departamento:</label>
             <%= form.text_field :departamento, { :class => "form-control", :id => "txtDepartamento", :value => "DEPARTAMENTO 1", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtPrecioFinal">Precio final:</label>
            <%= form.text_field :precioFinal,{ :class => "form-control", :id => "txtPrecioFinal", :value => "45000"}  %>          
          </div>

          <div class="form-group">
            <label for="txtNroOperacion">N&deg; Operaci&oacute;n:</label>
            <%= form.text_field :nroOperacion,{ :class => "form-control", :id => "txtNroOperacion", :value => "100"} %>         
          </div>        
          
          <div class="form-group">
            <label for="txtMonto">Monto:</label>
            <%= form.text_field :monto,{ :class => "form-control", :id => "txtMonto", :value => "45000"} %>         
          </div>      
        <% end %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Guardar</button>
      </div>

    </div>
  </div>
  </div>
</div>
      




<!-- The Modal Proforma-->
<div class="modal" id="modalRegistrarVenta">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Registrar Venta</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

          <%= form_with(model: Proforma, local: true) do |form| %>
          <div class="form-group">
            <label for="cboTipoCompra">Tipo de Compra:</label>
            <select class="form-control">
                <option>CONTADO</option>
                <option>FINANCIADO</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="txtMontoSeparado">Monto separado:</label>
             <%= form.text_field :montoSeparado, { :class => "form-control", :id => "txtMontoSeparado", :value => "10000", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtPago">Pago(10%):</label>
             <%= form.text_field :pago, { :class => "form-control", :id => "txtPago"} %>
          </div>

          <div class="form-group">
            <label for="txtNroOperacion">N&deg; Operaci&oacute;n:</label>
            <%= form.text_field :nroOperacion,{ :class => "form-control", :id => "txtNroOperacion", :value => "100"} %>         
          </div>        
          
          <div class="form-group">
            <label for="txtMonto">Monto:</label>
            <%= form.text_field :monto,{ :class => "form-control", :id => "txtMonto", :value => "45000"} %>         
          </div>      

          <div class="form-group">
            <label for="txtMontoFinanciado">Monto Financiado:</label>
            <%= form.text_field :monto,{ :class => "form-control", :id => "txtMontoFinanciado"} %>         
          </div>      
        <% end %>
      
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Guardar</button>
      </div>

    </div>
  </div>
  </div>
</div>


