<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @proforma.id %>
</p>

<p>
  <strong>Cotizaccionid:</strong>
  <%= @proforma.cotizaccionId %>
</p>

<p>
  <strong>Fecharegistro:</strong>
  <%= @proforma.fechaRegistro %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @proforma.costo %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @proforma.descuento %>
</p>

<p>
  <strong>Preciofinal:</strong>
  <%= @proforma.precioFinal %>
</p>

<%= link_to 'Edit', edit_proforma_path(@proforma) %> |
<%= link_to 'Back', proformas_path %>
