<%= form_with(model: citum, local: true) do |form| %>
  <% if citum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(citum.errors.count, "error") %> prohibited this citum from being saved:</h2>

      <ul>
      <% citum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :citum_id %>
  </div>

  <div class="field">
    <%= form.label :cotizaccionId %>
    <%= form.number_field :cotizaccionId, id: :citum_cotizaccionId %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :citum_fecha %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora, id: :citum_hora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
