<h1>B&uacute;squeda de Citas</h1>

<%= form_with(model: Citum, local: true) do |form| %>
  <div class="col-12">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
          <label for="txtProyecto">Proyecto</label>
          <div class="autocomplete">           
            <%= form.text_field :proyecto, { :class => "form-control", :id => "txtProyecto", :placeholder => "Proyecto" } %>
          </div>
        </div>  
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <label for="calFechaDesde">Desde</label>
            <%= form.date_field :fechaDesde, { :class => "form-control", :id => "calFechaDesde"} %>          
          </div> 
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
            <label for="calFechaHasta">Hasta</label>
            <%= form.date_field :fechaHasta, { :class => "form-control", :id => "calFechaHasta"} %>          
        </div>  
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <%= form.submit "Buscar", :class => "btn btn-primary", :onclick => "return MiMetodo()" %>
      </div>  
    </div>
    <div class="row">
      <br>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table  class="table" >
    <thead>
      <tr>
        <th>Item</th>
        <th>Proyecto</th>
        <th>Departamento</th>
        <th>Cliente</th>
        <th>D.N.I.</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th colspan="3">Acci&oacute;n</th>
      </tr>
    </thead>

    <tbody>
      <% @cita.each do |citum| %>
        <tr>
          <td><%= citum.id %></td>
          <td><%= 'EL FUNDO RESIDENCIAL' %></td>
          <td><%= 'DEPARTAMENTO 1' %></td>
          <td><%= 'JAVIER QUISPE GARCIA' %></td>
          <td><%= '78912345' %></td>  
          <td><%= citum.fecha %></td>
          <td><%= citum.hora %></td>  
          
          <td>
            <button 
              type="button" 
              class="btn btn-warning" 
              data-toggle="modal" 
              data-target="#modalReprogramarCita"><i class="fa fa-pencil-alt"></i> 
            </button>
          </td>
          <td>
              <button 
              type="button" 
              class="btn btn-primary" 
              data-toggle="modal" 
              data-target="#modalProforma">
              <i class="fa fa-file-invoice"></i> 
              </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Siguiente</a>
      </li>
    </ul>
  </nav>

</div>
<br>

<!--<%= link_to 'New Cotizacion', new_cotizacion_path %>-->




<!-- The Modal Reprogramación de cita-->
<div class="modal" id="modalReprogramarCita">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reprogramaci&oacute;n de Cita</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= form_with(model: Citum, local: true) do |form| %>
          <div class="form-group">
            <label for="email">Cliente:</label>
             <%= form.text_field :cliente, { :class => "form-control", :id => "txtCliente", :value => "JAVIER QUISPE GARCIA", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="pwd">Fecha:</label>
            <%= form.date_field :fecha,{ :class => "form-control", :id => "calFechaDesde", :value => Time.now.strftime('%Y-%m-%d')}  %>          
          </div>

          <div class="form-group">
            <label for="pwd">Hora:</label>
            <%= form.time_field :hora,{ :class => "form-control", :id => "calFechaDesde" } %> 
          <div class="form-group">
            
          </div>
        <% end %>
      
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Guardar</button>
      </div>

    </div>
  </div>
  </div>
</div>





<!-- The Modal Proforma-->
<div class="modal" id="modalProforma">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Proforma</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

          <%= form_with(model: Proforma, local: true) do |form| %>
          <div class="form-group">
            <label for="txtCliente">Cliente:</label>
             <%= form.text_field :cliente, { :class => "form-control", :id => "txtCliente", :value => "JAVIER QUISPE GARCIA", :readonly => "true"} %>
          </div>
          <div class="form-group">
            <label for="txtDni">D.N.I.:</label>
             <%= form.text_field :dni, { :class => "form-control", :id => "txtDni", :value => "78912345", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtTelefono">Tel&eacute;fono:</label>
             <%= form.text_field :telefono, { :class => "form-control", :id => "txtTelefono", :value => "987 123 456", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtCorreo">Correo:</label>
             <%= form.text_field :telefono, { :class => "form-control", :id => "txtCorreo", :value => "jquispeg@gmail.com", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtProyecto">Proyecto:</label>
             <%= form.text_field :proyecto, { :class => "form-control", :id => "txtProyecto", :value => "EL FUNDO RESIDENCIAL", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtDepartamento">Departamento:</label>
            <select class="form-control">
              <option>DEPARTAMENTO 1</option>
              <option>DEPARTAMENTO 2</option>
            </select>            
          </div>

          <div class="form-group">
            <label for="txtUbicacion">Ubicaci&oacute;n:</label>
             <%= form.text_field :ubicacion, { :class => "form-control", :id => "txtUbicacion", :value => "SAN MIGUEL A ESPALDAS DEL COLEGIO CLEMENTE ALTHAUS", :readonly => "true"} %>
          </div>        

          <div class="form-group">
            <label for="txtPiso">Piso:</label>
             <%= form.text_field :piso, { :class => "form-control", :id => "txtPiso", :value => "1", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtCosto">Costo:</label>
             <%= form.text_field :costo, { :class => "form-control", :id => "txtCosto", :value => "50000", :readonly => "true"} %>
          </div>

          <div class="form-group">
            <label for="txtDescuento">Descuento:</label>
             <%= form.text_field :descuento, { :class => "form-control", :id => "txtDescuento", :value => "5000", :readonly => "true"} %>
          </div>      

          <div class="form-group">
            <label for="txtPrecioFinal">PrecioFinal:</label>
             <%= form.text_field :precioFinal, { :class => "form-control", :id => "txtPrecioFinal", :value => "45000", :readonly => "true"} %>
          </div>        
        <% end %>
      
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> Guardar</button>
      </div>

    </div>
  </div>
  </div>
</div>


