<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @citum.id %>
</p>

<p>
  <strong>Cotizaccionid:</strong>
  <%= @citum.cotizaccionId %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @citum.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @citum.hora %>
</p>

<%= link_to 'Edit', edit_citum_path(@citum) %> |
<%= link_to 'Back', cita_path %>
