<!-- The Modal -->
<div class="modal fade" id="Modal-new-Usuario" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body --> 
        <%= form_for @usuario, :remote => true do |form| %>
          <div class="modal-body">         
          	  <div id="error_messages"></div>
			  <% if @usuario.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

			      <ul>
			      <% usuario.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= form.label :dni %>
			    <%= form.text_field :dni, {:class => "form-control", :placeholder => "Ingrese DNI"}  %>
			  </div>

			  <div class="field">
			    <%= form.label :nombres %>
			    <%= form.text_field :nombres, {:class => "form-control", :placeholder => "Ingrese nombres"}  %>
			  </div>

			  <div class="field">
			    <%= form.label :apellidos %>
			    <%= form.text_field :apellidos, {:class => "form-control", :placeholder => "Ingrese apellidos"}  %>
			  </div>

			  <div class="field">
			    <%= form.label :correo %>
			    <%= form.text_field :correo, {:class => "form-control", :placeholder => "Ingrese correo"}  %>
			  </div>

			  <div class="field">
			    <%= form.label :telefono %>
			    <%= form.text_field :telefono, {:class => "form-control", :placeholder => "Ingrese telefono"}  %>
			  </div>

			  <div class="field">
			    <%= form.label :perfil_id %>
			    <%= form.select :perfil_id, Perfil.all.where("id !=0").collect {|e| [e.nombre, e.id] }, { :include_blank => "Seleccione" }, { :class => "form-control" } %>  
			  </div>

       </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <%= form.submit "Guardar",  :class => "btn btn-primary", :onclick => "return ValidarUsuario()" %>
      </div>
 	
      <% end %>
    </div>
  </div>
</div>