
<!-- The Modal -->
<div class="modal fade" id="Modal-show-Usuario" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body --> 
       <div class="form-control">
          <!-- <p id="notice"><%= notice %></p> -->

          <p>
            <strong>Id:</strong>
            <%= @usuario.id %>
          </p>

          <p>
            <strong>Dni:</strong>
            <%= @usuario.dni %>
          </p>

          <p>
            <strong>Nombres:</strong>
            <%= @usuario.nombres %>
          </p>

          <p>
            <strong>Apellidos:</strong>
            <%= @usuario.apellidos %>
          </p>

          <p>
            <strong>Correo:</strong>
            <%= @usuario.correo %>
          </p>

          <p>
            <strong>Telefono:</strong>
            <%= @usuario.telefono %>
          </p>

          <p>
            <strong>Perfil:</strong>
            <%= Perfil.select(:nombre).where("id = " + @usuario.perfil_id.to_s).collect(&:nombre)[0] %> 
          </p>


       </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
      
    </div>
  </div>
</div>
