

<h1>B&uacute;squeda de Usuarios</h1>

<%= form_tag usuarios_path, :method => 'get' do  %>
  <div class="col-12">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 p-0 ">
          <div class="autocomplete">           
            <%= text_field_tag :nombres, params[:nombres],  { :class => "form-control",  :placeholder => "Nombres" } %>
          </div>
        </div>  

        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
          <%= select_tag "perfil", options_for_select({"Perfil" => "", "Administrador" => "1", "Asesor" => "2" , "Cliente" => "3" }), { :class => "form-control"}  %>
        </div>          
    </div>
    <br>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 p-0">  
           <!--<button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>-->

          <%= link_to  new_usuario_path,  :remote=> true  do %>
            <button  title="Nuevo" class="btn btn-primary">
              <i class="fa fa-plus-circle"> </i> Nuevo
            </button>              
          <% end %>

          <%= submit_tag  "Buscar", :class => "btn btn-info" %>  
        </div> 
    </div>
    <div class="row">
      <br>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table  class="table" >
    <thead>
      <tr>
        <th>Item</th>
        <th>DNI</th>
        <th>Nombres</th>
        <th>Apellidos</th>        
        <th>Correo</th>        
        <th>Tel&eacute;fono</th>              
        <th>Perfil</th>        
        <th colspan="3">Acci&oacute;n</th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.id %></td>
          <td><%= usuario.dni %></td>
          <td><%= usuario.nombres %></td>
          <td><%= usuario.apellidos %></td>
          <td><%= usuario.correo %></td>
          <td><%= usuario.telefono %></td>  
          <td><%= Perfil.select(:nombre).where("id = " + usuario.perfil_id.to_s).collect(&:nombre)[0] %> </td>  
                    
          <td>
            <%= link_to usuario,  :remote=>true  do %>
             <button type="button" class="btn btn-info" title="Ver">
                <i class="fas fa-search"></i>
              </button>            
            <% end %>
          </td>

          <td>
            <%= link_to edit_usuario_path(usuario),  :remote=>true  do %>
              <button type="button" class="btn btn-warning" title="Editar">
                <i class="fa fa-pencil-alt"></i> 
              </button>
            <% end %>
          </td>

          <td>
            <%= link_to usuario, method: :delete, data: { confirm: '¿Estas seguro de eliminar?' }, :remote=>true  do %>
             <button type="button" class="btn btn-danger" title="Eliminar">
                <i class="fa fa-trash-alt"></i>
              </button>            
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <%= will_paginate @usuarios, :class => 'pagination justify-content-center' %>
  </nav>

</div>
<br>

<!-- INI The Modal -->
<div id="new-Usuario"> </div>
<div id="edit-Usuario"> </div>
<div id="show-Usuario"> </div>
<!-- FIN The Modal -->
