
<%= form_with(model: foto, local: true) do |form| %>
  <% if foto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foto.errors.count, "error") %> prohibited this foto from being saved:</h2>

      <ul>
      <% foto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departamento_id, "Departamento" %>            
    <%= form.select :departamento_id, Departamento.all.collect {|e| [e.nombre, e.id] }, { :class => "form-control" , :disabled => true} %>
  </div>

  <div class="field">
    <%= form.label :proyecto_id, "Proyecto" %>            
    <%= form.select :proyecto_id, Proyecto.all.collect {|e| [e.nombre, e.id] }, { :class => "form-control" , :disabled => true} %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.file_field :imagen, id: :foto_imagen %>
  </div>

  <div class="actions">
    <%= form.submit  "Guardar",  :class => "btn btn-primary" %>
  </div>


<% end %>
