<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @foto.item %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @foto.nombre %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @foto.imagen %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @foto.departamento %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @foto.proyecto %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
