

<!-- Footer -->
  <section id="footer">
    <div class="container">
      <!--
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
         
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        </hr>
      </div> 
      --> 
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><u><a href="https://www.upc.edu.pe/">J&J Corp.</a></u> Prolongación Primavera 2390, Monterrico, Santiago de Surco 
Informes: 313-3333 - 610-5030 | Servicio al alumno 630-3333 | Fax: 313-3334 
Contacto | Política de Privacidad | Términos y Condiciones</p>
          <p class="h6">&copy Todos los derechos reservados.<a class="text-green ml-2" href="https://www.upc.edu.pe" target="_blank">J&J Corp.</a></p>
        </div>
        </hr>
      </div>  
    </div>
  </section>
<!-- ./Footer -->