<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
  <ul class="navbar-nav nav-flex-icons ">      
      <li class="nav-item avatar">
       <a class="navbar-brand" href="#">
    <img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/062013/logo-jj.png?itok=JbTKnCcI" height="100" alt="Logo">
  </a>      
      </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">      
      <%= link_to 'Cotización', cotizacions_path, {:class => "nav-link navbar-brand"} %> 
    </li>
    <li class="nav-item active">
      <%= link_to  'Citas', cita_path, {:class => "nav-link navbar-brand"} %>
    </li>
    <li class="nav-item active">
      <%= link_to 'Proforma', proformas_path, {:class => "nav-link navbar-brand"} %>      
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" class="rounded-circle z-depth-0"
            alt="Avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary">         
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </li>
  </ul>
</nav>

