<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
  <ul class="navbar-nav nav-flex-icons ">      
      <li class="nav-item avatar">
       <a class="navbar-brand" href="#">
    <img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/062013/logo-jj.png?itok=JbTKnCcI" height="100" alt="Logo">
  </a>      
      </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">      
     <a class="nav-link navbar-brand" href="#">Nosotros</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link navbar-brand" href="#">Cont&aacute;ctanos</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">      
      <li class="nav-item">
        <%= link_to 'Iniciar sesión', cotizacions_path, {:class => "btn btn-warning wrn-btn"} %>         
      </li>
  </ul>
</nav>

